@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form__container {
  min-height: 100vh;
  background: url("https://i.ibb.co/F8j3K2Z/1920x1080-5392414-water-sky-sea-ocean-blue-ripple-simple-calm-yoga-meditation-tranquil-peace-morning.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.form__container:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  backdrop-filter: blur(30px);
  background: inherit;
  z-index: -1;
}

.form__container form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.form__heading {
  font-family: "Dancing Script", cursive;
  margin-bottom: 10px;
}

.form__button {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

.form__submit-btn {
  margin-top: 20px;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px 0px;
}

.form__submit-btn:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.content {
  min-height: 73vh !important;
}
